<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Mini css -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/2.3.7/mini-nord.css"
    integrity="sha512-Qu6qtaRIYE5eb3bf3T41XOoSCbmKG0gV2PCI1AAIkkG3DZB5K5LKlGbUImW4M3NyLhQWoAhrLqC5w9CNeDDmBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- Form builder -->
    <script src="/form-builder/formBuilder.js"></script>
    <script src="/form-builder/vendor.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quasar@1.15.13/dist/quasar.min.css" />
    <link rel="stylesheet" href="/form-builder/css/app.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900%7CMaterial+Icons" />
    <!-- <link rel="stylesheet" href="/form-builder/css/vendor.css"> -->

    <!-- Tabulator -->
    <link href="https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js"></script>
    <!-- semantic for tabulator-->
    <link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet" />
    <!-- Fomantic ui -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" />
    <!-- moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>

    <title>SPA</title>
    @{import('meta', 'head', 'livereload')}
    <!-- Svelte -->
    <script defer src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div id="sveltePoint"></div>
  </body>
</html>
